* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background-color: #f5f5f5;
    background: linear-gradient(to right, #d7d2cc, #304352);
}

.container {
    background: #f8f9fa;
    width: 500px;
    padding: 2rem;
    margin: 60px auto;
    border-radius: 15px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
}

form {
    margin: 0 2.5rem;
}

.form-title {
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 0.5rem;
}

input {
    color: #333;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 1rem;
    font-size: 16px;
    border-radius: 5px;
}

.input-group {
    padding: 1.5% 0;
    position: relative;
}

.input-group i {
    position: absolute;
    color: #888;
}

input:focus {
    background-color: #f1f1f1;
    outline: none;
    border: 2px solid #ff6f61;
}

input::placeholder {
    color: #888;
}

label {
    color: #666;
    position: relative;
    left: 1.2em;
    top: -1.2em;
    cursor: text;
    transition: 0.3s ease all;
}

input:focus~label, input:not(:placeholder-shown)~label {
    top: -3.2em;
    color: #ff6f61;
    font-size: 0.85rem;
}

.recover {
    text-align: right;
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
}

.recover a {
    text-decoration: none;
    color: #ff6f61;
}

.recover a:hover {
    color: #ff3b3b;
    text-decoration: underline;
}

.btn {
    font-size: 1.2rem;
    padding: 10px 0;
    border-radius: 8px;
    outline: none;
    border: none;
    width: 100%;
    background: #ff6f61;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background: #e53e3e;
}

.links {
    display: flex;
    justify-content: space-around;
    padding: 0 5rem;
    margin-top: 1rem;
    font-weight: 700;
}

button {
    color: #ff6f61;
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
    font-weight: 700;
}

button:hover {
    text-decoration: underline;
    color: #ff3b3b;
}
